body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

h1 {
  text-align: center;
  color: blue;
  font-family: arial;
  font-size: 30px;
}

h2 {
  text-align: center;
  color: gray;
  font-size: 18px;
}

h3 {
  text-align: center;
  color: blue;
  font-size: 40px;
}

h4 {
  text-align: center;
  color: gray;
  font-size: 16px;
}

p {
  text-align: center;
  color: gray;
  font-size: 16px;
}

ul {
  list-style-type: none;
  position: static;
}

li {
  text-align: center;
  color: gray;
  font-size: 15px;
}

#fahrenheit-link {
  font-size: 1rem;
}

#celsius-link {
  font-size: 1rem;
}

.standard-text {
  font-size: 1rem;
  color: white;
  padding-right: 3rem;
  padding-top: 1rem;
}

.container-1 {
  text-align: center;
  padding-top: 10px;
}

.github {
  text-align: center;
}

.weather-app-wrapper {
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  margin: 10px 30px 10px 30px;
}

